<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>${spring.application.name}</contextName>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>
                        {
                        "x-correlation-id": "$X{x-correlation-id}",
                        "x-source-id": "%X{x-source-id}",
                        "x-source-country": "%X{x-source-country}",
                        "x-source-date-time": "%X{x-source-date-time}",
                        "logger": "%logger",
                        "level": "%level",
                        "thread": "%thread",
                        "message": "%msg",
                        }
                    </pattern>
                    <stackTrace>
                        <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                            <rootCauseFirst>true</rootCauseFirst>
                            </throwableConverter>
                    </stackTrace>
            </providers>
        </encoder>
    </appender>

    <logger name="com.someBank.ms" level="${logging.level.com.someBank.ns.info}" additivity="false">
        <appender-ref ref="CONSOLE"/    >
    </logger>

    <logger name="com.someBank.ms.utility.core.util.annotation.handler" level="${logging.level.com.someBank.ms.off}"/>

    <root level="${logging.level.com.someBank.ms.error}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
